main {
  margin: 0 auto;
}

header {
  margin: 80px auto 80px;
  display: flex;
  justify-content: center;
}

.s_head {
  margin: 40px auto;
  display: flex;
  padding-left: 30%;
}

.s_head > select {
  margin-right: 40px;
}